.profileCardList {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 13em;
}

.forbidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem 0.5rem;
    color: red;
    font-size: 2em;
    font-family: var(--font-family);
    background-image: url(../../../Assets/forbidden.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
