.profileCardList {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 7rem;
}

/********************************** Responsive ************************************/

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 615px) {
}

@media screen and (max-width: 430px) {
}

@media screen and (max-width: 415px) {
  .profileCardList {
    height: 80vh;
    margin-top: 2em;
  }
}

@media screen and (max-width: 320px) {
  .profileCardList {
    height: 70vh;
    margin-top: 2em;
  }
}
