.runningwild__homepage-content-cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 81vh;
  min-width: 100vw;
}

/********************************** Responsive ************************************/

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 615px) {
}

@media screen and (max-width: 430px) {
}

@media screen and (max-width: 415px) {
  
}

@media screen and (max-width: 320px) {
  .runningwild__homepage-container img {
    width: 80%;
    height: 30%;
  }
}
