.runningwild__homepage-container {
    font-family: var(--font-family);
}

.runningwild__homepage-header {
    text-align: center;
    color: white;
    margin-top: 5rem;
}

.runningwild__homepage-main {
    text-align: center;
    color: white;
}

.runningwild__homepage-footer {
    text-align: center;
    color: white;
    padding-bottom: 1rem;
}