.runningwild__homepage-container {
    font-family: var(--font-family);
    min-height: 100vh;
}

.runningwild__homepage-header {
    text-align: center;
    color: white;
}

.runningwild__homepage-main {
    text-align: center;
    color: white;
}

