*{
    text-align: center;
}

.trail-card-list-container {
    min-height: 180vh;
    background-image: url(../../../Assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.trail-card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

h1 {
    color: white;
    text-align: center;
    font-size: 2em;
}
 h2 {
    color: white;
    text-align: center;
    margin-bottom: 1em;
}

.forbidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem 0.5rem;
    color: red;
    font-size: 2em;
    font-family: var(--font-family);
    background-image: url(../../../Assets/forbidden.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: inline-block;  
    width: 35vw;
}

.recherche {
    text-align: center;
    height: 50vh;
}

.reload button {
    margin: 2em;
    color: #1c0e57;
    font-weight: bold ;
    border: 2px solid rgb(175, 12, 112) ;
    padding: 0.6em;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
    font-size: 0.7em;
}

.reload button:hover {
    background-image: linear-gradient(to left, #1c0e57, rgb(175, 12, 112));
    transform: scale(1.2);
    border: none;
    color: white;
}

.gradient__bg {
    /* https://uigradients.com/ */
   /* Moonlit Asteroid */
   background: #0F2027;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0d222b);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .runningwild-search-form {
      height: 35em;
      color: white;
   
  }

  .runningwild-search-form input{
    align-items: center;
    width: 11em;
    margin-bottom: 1em;
    font-size: 0.9em;
    padding: 1em;
}

.runningwild__search-form-button {
    margin: 1em;
    color: #1c0e57;
    font-weight: bold ;
    background-color: white;
    border: 2px solid rgb(133, 25, 160) ;
    padding: 0.6em;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.runningwild__search-form-button:hover {
    background-image: linear-gradient(to left, #1c0e57, rgb(133, 25, 160));
    transform: scale(1.2);
    border: none;
    color: white;
}

.result-separation {
    width: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search-results hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display:block;  
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
}

.search-results {
    text-shadow: 2px 2px 2px black;
    font-size: 0.8em;
}

.runningwild-trail-card-list-subscribtion {
    margin: 1em;
    color: #1c0e57;
    font-weight: bold ;
    background-color: white;
    border: 2px solid rgb(133, 25, 160) ;
    padding: 0.6em;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
}

.runningwild-trail-card-list-subscribtion:hover {
    background-image: linear-gradient(to left, #1c0e57, rgb(133, 25, 160));
    transform: scale(1.2);
    border: none;
    color: white;
}



