.runningwild__navmenu-links_container {
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 41, 55, 0.7);
    border: solid 2px #717d97;
    padding: 0.5rem;
    border-radius: 1rem;
}