.runningwild__login-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100vw;
}

.runningwild__login-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
  font-family: var(--font-family);
  background-image: url(../../Assets/background3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.runningwild__login-success-text {
  border: solid white 2px;
  background-color: rgb(31, 41, 55, 0.7);
  padding: 1rem;
  border-radius: 1rem;
}

.runningwild__login-success img {
  margin-bottom: 2rem;
  height: 300px;
  width: 300px;
}

.runningwild__login-success h1,
p {
  color: white;
}

.runningwild__login-success h1 {
  font-size: 2.5em;
  color: white;
  text-decoration: underline;
}

.runningwild__login-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 35vw;
  font-family: var(--font-family);
  text-align: center;
  color: white;
  justify-content: center;
}

.runningwild__login-left img {
  height: 150px;
  width: 150px;
  margin-bottom: 2rem;
}

.runningwild__login-left h1 {
  margin-bottom: 1.4rem;
  font-size: 1.7rem;
}

.runningwild__login-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 65vw;
  height: 100%;
  overflow: hidden;
}

.runningwild__login-right video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.runningwild__login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: left;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.instructions {
  display: flex;
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.errmsg {
  background-color: lightpink;
  border-radius: 0.5rem;
  color: firebrick;
  font-weight: bold;
  padding: 0.7rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.runningwild__login-left hr {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 2em;
}

.runningwild__login-form-input,
.runningwild__login-form-button {
  font-family: var(--font-family);
  font-size: 1.5em;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: none;
}

.runningwild__login-form-button-registration {
  font-family: var(--font-family);
  font-size: 1.2em;
  border-radius: 0.5rem;
  background-color: #afefff;
  color: black;
  border: none;
  padding: 0.5em 0.5rem;
  cursor: pointer;
}

.runningwild__login-form-label {
  margin-left: 0.2rem;
}

.runningwild__login-form-label,
.runningwild__login-form-button {
  margin-top: 1rem;
}

.runningwild__login-form-button {
  margin-bottom: 1.2rem;
  cursor: pointer;
}

.runningwild__login-left a {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/********************************** Responsive ************************************/

@media screen and (max-width: 1024px) {
  .video {
    display: none;
  }
}

@media screen and (max-width: 615px) {
  .video {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  video {
    display: none;
  }
}

@media screen and (max-width: 415px) {
  video {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  video {
    display: none;
  }
}
