.runningwild__forgotpassword {
  font-family: var(--font-family);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-image: url(../../Assets/runninggirl2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.runningwild__forgotpassword h1 {
  margin-bottom: 0.5rem;
  color: white;
}
  
.runningwild__forgotpassword-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 25rem;
}

.runningwild__forgotpassword-success {
  min-height: 100vh;
  background-image: url(../../Assets/runninggirl2.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.runningwild__forgotpassword-success_text {
  font-family: var(--font-family);
  padding: 1rem;
  border-radius: 0.5rem;
}

.runningwild__forgotpassword-success h1 {
  font-size: 2em;
  color: white;
}

.runningwild__forgotpassword-success p {
  margin-top: 1.5em;
  text-decoration: underline;
  font-size: 1.2em;
}

.runningwild__forgotpassword-success span {
  margin-top: 1.5em;
  text-decoration: underline;
  font-size: 1em;
  color: #afefff;
}
  
.errmsg {
  background-color: lightpink;
  border-radius: 0.5rem;
  color: firebrick;
  font-weight: bold;
  padding: 0.7rem;
  margin-bottom: 0.5rem;
}
    
  
.runningwild__forgotpassword-form-input,
.runningwild__forgotpassword-form-button {
  font-family: var(--font-family);
  font-size: 1.5em;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: none;
}
  
.runningwild__forgotpassword-form-label {
  margin-left: 0.2rem;
  margin-bottom: 1em;
}
  
.runningwild__forgotpassword-form-button {
  margin-top: 1rem;
  font-size: 1.4em;
  background-color: #afefff;
  color: black;
  cursor: pointer;
}
