.runningwild__forgotpassword {
    padding-top: 25vh;
    width: 25vw;
    text-align: center;
    font-family: var(--font-family);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
  }

  .runningwild__forgotpassword h1 {
    margin-bottom: 0.5rem;
    color: white;
  }
  
  .runningwild__forgotpassword-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 25rem;
  }
    
  .errmsg {
    background-color: lightpink;
    border-radius: 0.5rem;
    color: firebrick;
    font-weight: bold;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
  }
    
  
  .runningwild__forgotpassword-form-input,
  .runningwild__forgotpassword-form-button {
    font-family: var(--font-family);
    font-size: 1.5em;
    padding: 0.25rem;
    border-radius: 0.5rem;
    border: none;
  }
  
  .runningwild__forgotpassword-form-label {
    margin-left: 0.2rem;
  }
  
  .runningwild__forgotpassword-form-label,
  .runningwild__forgotpassword-form-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .runningwild__forgotpassword-form-button {
    margin-bottom: 1.2rem;
    cursor: pointer;
    font-size: 1.4em;
  }
  
  .gradient__bg {
    /* https://uigradients.com/ */
   /* Moonlit Asteroid */
   background: #0F2027;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0d222b);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }